body {
  cursor: url(https://cur.cursors-4u.net/games/gam-12/gam1191.cur), auto !important;
  /* https://www.cursors-4u.com */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/pattern.png)!important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family : 'Cafe24SsurroundAir'
}
