body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/wallpaperbetter.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;

}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url(/src/fonts/Cafe24SsurroundAir.ttf) format("truetype")
}

code {
  font-family: "Cafe24SsurroundAir"!important;
}
